@tailwind base;
@tailwind components;
@tailwind utilities;

.item-count {
  position: absolute;
  top: -7px;
  right: -8px;
  min-width: 18px;
  padding: 1px 6px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 11px;
  text-align: center;
}

.wrapper {
  position: relative;
  display: inline-block;
}

.icon {
  width: 25px;
  height: 25px;
}

.product-item {
  transition: transform 0.3s ease-in-out;
}

.product-item:hover {
  transform: scale(1.05);
}
